body{
    background-image: url(./image/back-image.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}

.container {
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.744);
    font-size: 24px;
    margin-top: 100px;
}

.input-form {
    height: 80px;
    width: 600px;
    font-size: 2vb;
    border-radius: 10px;
    border: 3px solid gray;
    text-align: center;
}

.gif-area{
    width: 600px;
    margin-top: 10px;
}

.button-style {
    height: 80px;
    width: 150px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 30pt;
    font-weight: bold;
    border-color: white;
}

.button-style:hover{
    border-width: thick;
    border-color: black;
}

@media screen and (max-width: 48rem) {
    .input-form{
        width: 400px;
    }
    .gif-area{
        width: 300px;
        margin-top: 10px;
    }
}